.about-us__section {
  display: flex;
  height: 70vh;
  margin-top: 70px;
  border: 23px solid $strong-secondary-color;
  box-shadow: $box-shadow-2;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.about-us__left {
  flex: 1;
  background-color: $primary-color;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}

.about-us__left h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: $white-color;
  margin-top: 2rem;
  margin-left: 2rem;
}

.about-us__left p {
  margin-left: 20px;
  font-size: 1.25rem;
  color: $white-color;
  line-height: 1.6;
  max-width: 90%;
  margin-top: 4rem;
}

.about-us__left:hover h2,
.about-us__left:hover p {
  color: $light-secondary-color;
}

.about-us__right {
  flex: 1;
  background-image: url('../images/parents.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}
