@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Comic+Relief:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');

.alta-page {
  .container-form {
    max-width: map-get($grid-width, lg);
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.2rem;
    margin: 2rem auto;
    padding: 3rem;
    background: $white-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow-2;
  }

  .card {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    padding: 4rem;
    border-radius: 0.5rem;
    background-color: $strong-primary-color;
    border: 4px solid $black-color;
    margin-top: 4rem;
    margin-bottom: 4rem;
    min-height: 300px;
  }

  // Checkbox personalizado--
  .checkbox-label {
    align-items: center;
    cursor: pointer;

    input {
      width: auto;
      margin-right: 0.5rem;
    }

    span {
      font-size: 2rem;
      color: $white-color;
    }
  }

  // Títulos h3 con efectos...
  h3 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Comic Relief', cursive;
    text-shadow: 2px 2px 0 $white-color, 4px 4px 0 $primary-color;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      color: $secondary-color;
    }
  }
}

.btn-1 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background-color: $primary-color;
  color: $white-color;
  padding: 2rem 3rem;
  margin: 4rem;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $secondary-color;
    color: $white-color;
    box-shadow: $box-shadow-3;
  }
}
